#playerList button:hover{
  position: relative;
}

#playerList button:hover::after {
  border-bottom: 0.250em solid #191919;
  content: "";
  left: 0;
  margin-top: calc(0.250em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

#playerSelection {
  margin: 80px;
  display: inline-block;
}

#playerSelection input{
  background: none;
  border: none;
  color: #191919;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 5px solid #191919;

  animation-name: blink ;
  animation-duration: .5s ;
  animation-timing-function: step-end ;
  animation-iteration-count: infinite ;
  animation-direction: alternate ;
}

@keyframes blink {
   50% { border-color: #E7E3D8; }
}
table{ /*or other element you want*/
    animation: blink .5s step-end infinite alternate;
}

#playerSelection:active{
  border: none;
}

#playerList {
    display: inline-block;
}

hr {
  height: 10px;
  background-color: #191919;
  border: none;
}

#footer {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#footer button {
  color: #50A444;
}
