html, body {
  font-family: CamingoCode, monospace;
  font-weight: 100;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: #191919;
  user-select: none;
  font-size: 100%;
}

h1 {
  font-weight: 100;
  font-size: 4.0em;
  margin-bottom: 0;
}

h2 {
  font-weight: 100;
  font-size: 2.5em;
}

h3{
  font-weight: 100;
  font-size: 2.0em;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.game{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

#gameInfo {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  font-size: 1em;
  font-weight: 100;
}

.playerScore {
  flex: 1;
  text-align: center;
}

#board{
  padding-top: 20px;
  flex: 1;
  width: 100%;
  display: flex;
}



.column {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
    flex: 1 1;
  background-color: #191919;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border: red 5px solid;
  color: rgba(2016,162,14,1);

}

button:focus {
  outline: red;
    background-color: red;
}

.card:hover {
  background-color: rgba(63,72,204,0.3);
}

.card.wasAnswered {
    background-color: rgba(63,72,204,0.3);
    cursor: auto;
    color: rgba(2016,162,14,0.5);
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1em;
  background-color: #191919;
  overflow: scroll;
}

:disabled {
  color: gray;
  text-decoration: line-through;
}

:disabled:hover {
    color: gray;
}

a:hover{
  cursor: pointer;
      color: rgba(2016,162,14,0.5);
}

.flex{
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.height-100 {
  height: 100%;
}
