html, body {
  font-family: Futura, sans-serif;
  font-weight: 100;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #191919;
  background-color: #E7E3D8;
  user-select: none;
  font-size: 110%;
}

h1 {
  font-weight: bold;
  font-size: 4.0em;
  margin: 0;
}

h2 {
  margin-top: 10px;
  font-weight: 100;
  font-size: 2.5em;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.game{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

#gameInfo {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #191919;
  color: #E7E3D8;

}

#gameInfo button {
  color: #E7E3D8;
  font-size: 0.8em;
    padding-right: 30px;
}

.score {
  font-size: 1em;
  font-weight: 100;
}

.playerScore {
  flex: 1;
  text-align: center;
}

#board{
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  width: 100%;
  display: flex;
}

.column {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  flex: 1 1;
  border: none;
  cursor: pointer;
  border: #191919 5px solid;
  margin: 5px;
}

h3{
  font-weight: bold;
  font-size: 1.4em;
}

.card:hover:not(.wasAnswered) {
  background-color: #191919;
}

.card.v-1000:hover{
  color: #E7E3D8;
}

.card.wasAnswered {
    cursor: default;
}

.card.wasAnswered h3{
  position: relative;
  display: inline-block;
}

.card.wasAnswered h3::after {
  border-bottom: 0.250em solid #191919;
  content: "";
  left: 0;
  margin-top: calc(0.250em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1em;
  background-color: #E7E3D8;
  overflow: scroll;
}

a:hover{
  cursor: pointer;
      color: #FC493A;
}

.flex{
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.height-100 {
  height: 100%;
}

.highlight {
  color: #FC493A;
}

button{
  color: #50A444;
}

button:disabled{
  color: gray;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: #191919;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

button:focus {
  outline: none
}

.v-200{
  color: #F8C002;
}

.v-400{
  color: #50A444;
}

.v-600{
  color: #00529B;
}

.v-800{
  color: #FC493A;
}

.v-1000{
  color: #191919;
}

.question{
  font-size: 3em;
}
